{% extends 'base.html.twig' %}
{% block body %}

    <main class="main-container">
        <section class="page-header">
            <div class="container">
                <h1 class="page-title">Titre de la Page</h1>
                <p class="page-subtitle">Une petite description ou un breadcrumb ici</p>
                <nav class="breadcrumb">
                    <ul>
                        <li class="breadcrumb-item">
                            <a href="index.html">Accueil</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="index.html">About</a>
                        </li>
                        <!-- <li class="breadcrumb-item">
                            Détails du Magasin
                        </li> -->
                    </ul>

                </nav>
            </div>
        </section>

        <section class="about" id="about">

            <h1 class="heading wow animate__animated animate__fadeInUp animate__delay-0_5s">A propos de nous !</h1>
            <p class="paragraph wow animate__animated animate__fadeInUp animate__delay-0_5s">Necessitatibus eius
                consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
            <div class="container">
                <div class="about-image wow animate__animated animate__fadeInUp animate__delay-0_5s">
                    <img src="assets/images/photorealistic-portrait-african-woman.jpg" alt="">
                </div>
                <div class="about-content">
                    <p class="wow animate__animated animate__fadeInUp animate__delay-0_5s">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis veniam quo, assumenda
                        architecto aut itaque vero blanditiis doloremque saepe delectus,
                        nulla quam non cum fuga! Ea aspernatur molestias repellendus nulla?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis veniam quo, assumenda
                        architecto aut itaque vero blanditiis doloremque saepe delectus,
                        nulla quam non cum fuga! Ea aspernatur molestias repellendus nulla?
                        nulla quam non cum fuga! Ea aspernatur molestias repellendus nulla?
                    </p>
                    <p class="wow animate__animated animate__fadeInUp animate__delay-0_5s">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis veniam quo, assumenda
                        architecto aut itaque vero blanditiis doloremque saepe delectus,
                        nulla quam non cum fuga! Ea aspernatur molestias repellendus nulla?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis veniam quo, assumenda
                        architecto aut itaque vero blanditiis doloremque saepe delectus,
                        nulla quam non cum fuga! Ea aspernatur molestias repellendus nulla?
                        nulla quam non cum fuga! Ea aspernatur molestias repellendus nulla?
                    </p>
                </div>
            </div>
            <a href="about.html" class="btn wow animate__animated animate__fadeInUp animate__delay-0_5s">Lire
                plus...</a>
        </section>

    </main>


{% endblock %}