{% extends 'base.html.twig' %}
{% block body %}
    <main class="main-container">

        <section class="page-header">
            <div class="container">
                <h1 class="page-title">Titre de la Page</h1>
                <p class="page-subtitle">Une petite description ou un breadcrumb ici</p>
                <nav class="breadcrumb">
                    <ul>
                        <li class="breadcrumb-item">
                            <a href="index.html">Accueil</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="index.html">About</a>
                        </li>
                        <!-- <li class="breadcrumb-item">
                            Détails du Magasin
                        </li> -->
                    </ul>

                </nav>
            </div>
        </section>


        <section class="blog" id="blog">
            <h1 class="heading wow animate__animated animate__fadeInUp">Latest from blog</h1>
            <p class="paragraph wow animate__animated animate__fadeInUp animate__delay-0_2s">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit <br>
                officia consequat duis.
            </p>

            <div class="container">
                <div class="card wow animate__animated animate__fadeInUp animate__delay-0_2s">
                    <div class="card-imag">
                        <img src="assets/images/blog/blog-2.jpg" alt="blog image">
                        <div class="image-overlay">
                            <a href="#" class="read-more-btn">Lire plus</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <span class="tag tag-tech">Technologie</span>
                        <h4>How to stay fresh ?</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                        <div class="user">
                            <img src="assets/images/blog/blog-author-2.jpg" alt="image utilisateur">
                            <div class="user-info">
                                <h5>Bah Mamadou</h5>
                                <small>4h ago</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card wow animate__animated animate__fadeInUp animate__delay-0_4s">
                    <div class="card-imag">
                        <img src="assets/images/blog/blog-1.jpg" alt="blog image">
                        <div class="image-overlay">
                            <a href="#" class="read-more-btn">Lire plus</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <span class="tag tag-tech">Technologie</span>
                        <h4>How to stay fresh ?</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                        <div class="user">
                            <img src="assets/images/blog/blog-author-2.jpg" alt="image utilisateur">
                            <div class="user-info">
                                <h5>Bah Mamadou</h5>
                                <small>4h ago</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card wow animate__animated animate__fadeInUp animate__delay-0_6s">
                    <div class="card-imag">
                        <img src="assets/images/blog/blog-2.jpg" alt="blog image">
                        <div class="image-overlay">
                            <a href="#" class="read-more-btn">Lire plus</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <span class="tag tag-tech">Technologie</span>
                        <h4>How to stay fresh ?</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                        <div class="user">
                            <img src="assets/images/blog/blog-author-3.jpg" alt="image utilisateur">
                            <div class="user-info">
                                <h5>Bah Mamadou</h5>
                                <small>4h ago</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card wow animate__animated animate__fadeInUp animate__delay-0_8s">
                    <div class="card-imag">
                        <img src="assets/images/blog/blog-3.jpg" alt="blog image">
                        <div class="image-overlay">
                            <a href="#" class="read-more-btn">Lire plus</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <span class="tag tag-tech">Technologie</span>
                        <h4>How to stay fresh ?</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                        <div class="user">
                            <img src="assets/images/blog/blog-author-4.jpg" alt="image utilisateur">
                            <div class="user-info">
                                <h5>Bah Mamadou</h5>
                                <small>4h ago</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card wow animate__animated animate__fadeInUp animate__delay-1s">
                    <div class="card-imag">
                        <img src="assets/images/blog/blog-4.jpg" alt="blog image">
                        <div class="image-overlay">
                            <a href="#" class="read-more-btn">Lire plus</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <span class="tag tag-tech">Technologie</span>
                        <h4>How to stay fresh ?</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                        <div class="user">
                            <img src="assets/images/blog/blog-author-2.jpg" alt="image utilisateur">
                            <div class="user-info">
                                <h5>Bah Mamadou</h5>
                                <small>4h ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}